##########################
#   ** unix 优先级 **
##########################
# /etc/my.cnf
# /etc/mysql/my.cnf
# SYSCONFDIR/my.cnf
# $MYSQL_HOME/my.cnf
# --defaults-extra-file
# ~/.my.cnf
# ~/.mylogin.cnf
# DATADIR/mysqld-auto.cnf
#########################