##########################################
# 由 mysql_config_editor 登录实用程序创建
# 用于客户端选项 --login-path=name
##########################################

# 只允许特定的选项
# [client]
# user = root
# password = Wise3575?
# host = 127.0.0.1
# port = 3306
# socket =

# 创建文件命令-例：
# mysql_config_editor set --login-path=T3
#       --host=192.168.107.183 --user=saber --password
# Enter password: enter password "localpass" here

# mysql_config_editor (set | print | remove) --help

[T3]
user = saber
password = Wise3575?
host = 192.168.107.183